.work__filters {
  display: flex;
  align-items: center;
  column-gap: 1.875rem;
  margin-bottom: 2.5rem;
}

.work__item {
  cursor: pointer;
  font-weight: var(--font-bold);
}

.work__item:hover {
  color: var(--first-color);
}

.work__container {
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
}

.work__card {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.work__mask {
  background: rgb(231, 136, 149);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: 0.3s;
  opacity: 0;
}

.work__card:hover .work__mask {
  opacity: 0.9;
}

.work__category {
  color: #fff;
  background-color: var(--first-color);
  border-bottom-left-radius: 0.98rem;
  border-bottom-right-radius: 0.98rem;
  position: absolute;
  top: 0;
  left: 1.5rem;
  font-size: var(--small-font-size);
  display: inline-block;
  padding: 0.19rem 0.625rem;
  transform: translateY(-40px);
  transition: 0.3s;
}

.work__title {
  color: #fff;
  font-size: var(--h3-font-size);
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  top: 3.75rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}
.work__desc {
  color: #fff;
  margin: 0 0 0.98rem;
  padding: 0 1.25rem;
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 5px;
  top: 6.5rem;
  left: 3.5rem;
  transform: translateY(30px);
  transition: 0.3s;
  opacity: 0;
}

.work__desc li {
  padding: 5px 10px;
  font-size: 0.7rem;
  color: #fff;
  background-color: var(--first-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.work__button {
  color: rgb(231, 136, 149);
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  font-size: var(--h3-font-size);
  display: block;
  background-color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: 0.3s;
  opacity: 0;
}

.work__button__link {
  color: rgb(231, 136, 149);
  position: absolute;
  bottom: 1.5rem;
  left: 4.5rem;
  font-size: var(--h3-font-size);
  display: block;
  background-color: #fff;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  transition: 0.3s;
  opacity: 0;
}

.disabled-link {
  pointer-events: none;
  cursor: not-allowed;
  transition: 0.3s;
  opacity: 0;
}

.work__card:hover .work__button,
.work__card:hover .work__button__link {
  opacity: 1;
}

.work__card:hover .disabled-link {
  opacity: 0.5;
}

.work__card:hover .work__title,
.work__card:hover .work__desc,
.work__card:hover .work__category {
  opacity: 1;
  transform: translateY(0);
}
