/* fr = Fractional Unit */
.about__container {
    grid-template-columns: 4fr 9fr;
    column-gap: 1.875rem;
}

.section__title {
    margin-bottom: 3.5rem;
}

.icon-badge {
    font-size: 1.5rem;
}

.icon-book-open {
    font-size: 1.5rem;
}

.about__img {
    margin-top: 2.25rem;
    border-radius: 1rem;
}

.about__info {
    gap: 2rem;
    margin-bottom: 0.875rem;
    display: flex;
}

.about__details__exp {
    padding: 1.5rem;
    flex: 1;
    background: var(--body-color);
    border: 0.1rem solid rgb(53, 53, 53);
    border-color: rgb(163, 163, 163);
    text-align: center;
    border-radius: 1rem;
}

.about__details__skills {
    padding: 2rem 1.5rem;
    flex: 1;
    background: var(--body-color);
    border: 0.1rem solid rgb(53, 53, 53);
    border-color: rgb(163, 163, 163);
    text-align: center;
    border-radius: 1rem;
}

.about__description {
    text-indent: 2.5rem;
    margin-bottom: 0.875rem;
    text-align: justify;
}
  
@media screen and (max-width: 768px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        text-align: center;
    }

    .about__img {
        margin: 0 auto;
    }

    .about__info {
        flex-direction: column;
        align-items: center;
    }

    .about__details__exp, .about__details__skills {
        width: 90%;
    }

    .about__description {
        text-indent: 0;
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .about__details__exp, .about__details__skills {
        padding: 1rem;
        width: 100%;
    }

    .about__description {
        font-size: 0.9rem;
    }

    .btn {
        display: block;
        margin: 1rem auto;
    }
}


